.payment-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.payment-container h2 {
    text-align: center;
}

.payment-container-flex {
    flex: 1;
    gap: 30px;
}

.payment-information {
    max-width: 345px;
    padding: 30px 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card-logo {
    width: 80px;
    height: auto;
    padding: 10px 5px 0 5px;
    margin-bottom: 10px;
}

.payment-form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.name-input-container {
    display: flex;
    gap: 10px;
}

.name-input-container div {
    flex: 1;
    width: 500px;
}

.name-input-container > div input {
    width: 170px;
}

.card-number-input {
    width: 350px;
}

.expiry-date-input {
    display: flex;
    gap: 10px;
}

.expiry-date-input input {
    flex: 1;
    padding: 10px;
}

.credit-card-container {
    display: flex;
    gap: 20px;
}

.credit-card-container div {
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.credit-card-container label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.credit-card-container div.selected {
    border-color: #2a9df4;
}

.credit-card-info-container {
    margin: 20px 0;
}


.payment-summary {
    max-width: 300px;;
    height: fit-content;
    padding: 30px 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.payment-summary h2 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-summary table {
    width: 100%;
    border-collapse: collapse;
}

.payment-summary table td {
    padding: 20px 0 20px 0;
}

.payment-summary table td:first-child {
    text-align: left;
}

.payment-summary table td:last-child {
    text-align: right;
}

.payment-summary .payment-grand-total-number {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}