.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    width: 100%; 
    padding: 0 0 30px 0;
}

.progress-step {
    display: flex;
    align-items: center;
    position: relative;
}

.progress-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc; 
    border: 2px solid #ccc; 
    transition: background-color 0.3s, border-color 0.3s;
    align-items: center;
}

.progress-dot.active {
    background-color: #6BBE45; 
    border-color: #6BBE45; 
}

.progress-line {
    width: 15em;
    height: 4px;
    background-color: #ccc;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.progress-line.active {
    background-color: #6BBE45; 
}


.progress-label {
    position: absolute; 
    top: 30px; 
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center; 
    transform: translateX(-40px);
    width: 100px;
}
